/* ============================================================================
 | Default
 * ========================================================================= */

.button
button
input[type="button"]
input[type="submit"]
    appearance normal
    box-sizing border-box
    display inline-block
    vertical-align middle
    padding 9px 18px 9px 18px
    color #ffffff
    font-family: Fonts.heading
    text-align center
    text-decoration none
    text-shadow 0 1px rgba(0, 0, 0, .2)
    text-transform uppercase
    line-height 1.6
    border-radius 2px
    border solid 1px darken(#cccccc, 7)
    background-color #cccccc
    cursor pointer
    outline none
    user-select none

    &:hover
        border-color darken(#cccccc, 18)
        box-shadow 0 1px 1px rgba(0, 0, 0, .3)

    &:active
        text-shadow none
        border-color darken(#cccccc, 20)
        border-top-color darken(#cccccc, 25)
        background-color darken(#cccccc, 5)
        box-shadow inset 0 1px 1px rgba(0, 0, 0, .7)


/* ============================================================================
 | Disabled
 * ========================================================================= */

.button.button--disabled
button.button--disabled
input[type="button"].button--disabled
input[type="submit"].button--disabled
    text-shadow none
    border solid 1px darken(#e1e1e1, 7)
    background-color #e1e1e1
    cursor not-allowed

    &:hover
        border solid 1px darken(#e1e1e1, 7)
        box-shadow none

    &:active
        border solid 1px darken(#e1e1e1, 7)
        background-color #e1e1e1
        box-shadow none


/* ============================================================================
 | Icons
 * ========================================================================= */

.button.button--icon
button.button--icon
input[type="button"].button--icon
input[type="submit"].button--icon
    position relative

    &:before
        content ''
        display block
        width 22px
        height 22px

    .icon
        position absolute
        top 50%
        left 0
        width 100%
        margin-top -10px
        font-size 20px
        text-align center


/* ============================================================================
 | Colors
 * ========================================================================= */

.button.button--red
button.button--red
input[type="button"].button--red
input[type="submit"].button--red
    border: solid 1px darken(Colors.red, 7)
    background-color: Colors.red

    &:hover
        border-color: darken(Colors.red, 18)
        box-shadow 0 1px 1px rgba(0, 0, 0, .5)

    &:active
        text-shadow none
        border-color: darken(Colors.red, 15)
        border-top-color: darken(Colors.red, 25)
        background-color: darken(Colors.red, 3)
        box-shadow inset 0 1px 1px rgba(0, 0, 0, .8)

.button.button--redOnHover
button.button--redOnHover
input[type="button"].button--redOnHover
input[type="submit"].button--redOnHover

    &:hover
        border-color: darken(Colors.red, 18)
        background-color: Colors.red
        box-shadow 0 1px 1px rgba(0, 0, 0, .5)

    &:active
        text-shadow none
        border-color: darken(Colors.red, 15)
        border-top-color: darken(Colors.red, 25)
        background-color: darken(Colors.red, 3)
        box-shadow inset 0 1px 1px rgba(0, 0, 0, .8)


/* ============================================================================
 | Groups
 * ========================================================================= */

.buttonGroup
    position relative

    .button
    button
    input[type="button"]
    input[type="submit"]
        border-radius 0
        z-index 2
        margin-left -1px

        &:hover
            z-index 3

        &:first-child
            margin-left 0
            border-top-left-radius 2px
            border-bottom-left-radius 2px

        &:last-child
            border-top-right-radius 2px
            border-bottom-right-radius 2px

    .button.button--disabled
    button.button--disabled
    input[type="button"].button--disabled
    input[type="submit"].button--disabled
        z-index 1

        &:hover
            z-index 1