@font-face {
    font-family: 'taniquetil-icons';
    src: url('/pallant/taniquetil/fonts/icons/taniquetil-icons.ttf?ylwnp7') format('truetype'),
         url('/pallant/taniquetil/fonts/icons/taniquetil-icons.woff?ylwnp7') format('woff'),
         url('/pallant/taniquetil/fonts/icons/taniquetil-icons.svg?ylwnp7#taniquetil-icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'taniquetil-icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon--chevronDown:before {
    content: "\e900";
}
.icon--chevronLeft:before {
    content: "\e901";
}
.icon--chevronRight:before {
    content: "\e902";
}
.icon--chevronUp:before {
    content: "\e903";
}
.icon--archive:before {
    content: "\e95e";
}
.icon--exception:before {
    content: "\e999";
}
.icon--home:before {
    content: "\e99b";
}
.icon--plus:before {
    content: "\ea0a";
}
.icon--minus:before {
    content: "\ea0b";
}
.icon--cross:before {
    content: "\ea0f";
}
.icon--arrowRight:before {
    content: "\ea3c";
}
.icon--arrowLeft:before {
    content: "\ea40";
}
