label.label
    display inline-block
    vertical-align middle
    margin-bottom 8px
    color #444444
    font-family: Fonts.heading
    font-size 14px
    font-weight bold


.label.focused
label.focused
    color: Colors.primary