.stackTraceFrame
    padding 16px
    border-radius 3px
    background-color #e7e7e7

    .stackTraceFrame__methodInfo
        margin-bottom 12px
        font-size 16px
        font-weight bold
        word-wrap break-word

    .stackTraceFrame__file
        word-wrap break-word