.card
    box-sizing border-box
    margin auto
    color: Colors.defaultText
    border-radius 2px
    background-color #ffffff
    box-shadow 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2)
    overflow hidden

    .card__header
        position relative
        margin 0
        padding 13px 24px 11px 24px
        color #ffffff
        font-family: Fonts.heading
        font-size 26px
        background-color: Colors.primary

        h1
        h2
        h3
        h4
        h5
        h6
        p
            margin 0
            font-size inherit

    .card__header.card__header--icon
        padding-left 94px

        .icon
            position absolute
            top 50%
            left 48px
            font-size 32px
            margin-top -16px

    .card__body
        box-sizing border-box
        padding 24px